<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.score.persistance.StudentDao">
 <select id="score" resultType="ScoreVO">
 		SELECT sc_score FROM tbl_score WHERE sc_stnum = #{st_num}
 	</select>
 	
 	
 	<!-- List, 배열 등을 사용하여 Query 를 반복코딩하기
 	foreach 구분을 사용하여 반복 query 를 만들기
 	
 	Service 에서 Dao.updateScoreArray () 를 반복문으로 호출을 하면
 	리스트 개수 만큼
 	커넥션연결, qyrey 전소으 커넷션 닫기 가 계속 반볻된다
 	mapper 의 foeach 를 사용하여 반복 quety 를 작성하면 한번의 커넥션 연결, 연속 query 전송, 커넥션 닫기가 실행되어 db와 연결하는 부분에서 효율
 	-->
 	<update id ="updateScore" parameterType="ScoreUpdateVO">
 	<foreach collection="sb_code" item="code" index="index">
 	UPDATE tbl_score
 	SET sc_score = #{sc_score[${index}]}
 	WHERE sc_stnum = #{st_num} AND sc_sbcode = #{code};
 	
 	
 	</foreach>
 	
 	</update>
 	
 	<update id="updateScore">
 	
 	UPDATE tbl_score
 	SET sc_score = #{sc_score}
 	WHERE sc_stnum = #{st_num} AND sc_sbcode =#{sb_code}
 	</update>

 </mapper> 