<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.score.persistance.StudentDao">
 <select id="score" resultType="ScoreVO">
 		SELECT sc_score FROM tbl_score WHERE sc_stnum = #{st_num}
 	</select>
 	
 	<update id="updateScore">
 	
 	UPDATE tbl_score
 	SET sc_score = #{sc_score}
 	WHERE sc_stnum = #{st_num} AND sc_sbcode =#{sb_code}
 	</update>

 </mapper> 